<!DOCTYPE html>
<html>
<head>
    <title>Registration Success</title>
</head>
<body>
    <h1>Registration Successful!</h1>
    <p>You are now registered.</p>
    <a href="/">Click here to login</a>
</body>
</html>
